@import url("reset.css");

body{
    background-color: burlywood; 
}
/* * {
    color: rgb(211, 32, 32); 
} */

 div {
    color: blue;
} 

a {
    color: green;
}

.ipod-tittle {
    color: rgb(202, 105, 202);
}

#history-tittle {
    color: rgb(214, 22, 214);
}

div.first-d {
    color:rgb(26, 168, 168)
}

.qwe.zxc{
    color:rgb(45, 13, 105);
}

.qwe1{
    color:rgb(223, 22, 156);
}

.zxc1{
    color:blueviolet;
}

.qwe2,.zxc2{
    color:rgb(103, 148, 94)
}

.qwe3 p{
    color:rgb(72, 149, 151);
}

.qwe4 .zxc4{
    color:rgb(52, 26, 168)
}

.qwe5 *{
 color:rgb(5, 117, 74)
}

.qwe6 > p{
color: blue;
}

.qwe7 + p{
    color:rgb(233, 32, 183);
}

.qwe8 ~ p{
    color:rgb(45, 13, 105)
}

[class*="__container"] {
    color:rgb(255, 230, 0);
}