@import url(reset.css);

body {
    font-family: "Poppins", sans-serif;
    color: #6C757D;
    font-weight: 300;
    font-size: 14px;
    background-color: #E5E5E5;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.article {
    margin-bottom: 80px;
    padding-top: 50px;
}

.article2 {
    margin-bottom: 80px;
}

[class*="__text-block"] {
    max-width: 816px;
}

.article__text-block {

    margin: 0 auto 80px;
}

.article__text-block p {
    line-height: 1.78;
    margin-bottom: 30px;
}

[class*="__title"] {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
    max-width: 605px;
}

.article__title {
    
    margin-bottom: 40px;
    
}

.article__image {
    margin-bottom: 80px;
    max-width: 100%;
    border-radius: 5px;
}

.article__images {
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 80px;

}

.image-2 {
    max-width: 50%;
    padding-right: 15px;
    border-radius: 5px;
}

.image-3 {
    max-width: 50%;
    padding-left: 15px;
    border-radius: 5px;
}

.article2__image {
    margin-bottom: 100px;
    width: 100%
}

.article2__text-block {
    margin: 0 auto 100px;
}

.article2__text-block p{
    margin: 0 auto 100px;
}

.article2__text-block p{
    line-height: 1.78;
    
}

.article2-images{
    margin-bottom: 100px;
}

.hw {
    max-width: 20%;
    display: block;
    padding: 5px;
    border-radius: 15px;
    border: 5px solid #6C757D;
    box-shadow: 0 5px 0 0 #000;
    margin: 0 auto;
    position: relative;
	top: 0;
	transition: all 0.3s;
    opacity: 0.5;
}

.hw-block{
    padding-bottom: 40px;
}

.hw:hover {
	top: 3px;
	box-shadow: 0 2px 0 0 #000;
}