@import url(reset.css);


body {
    font-family: "Poppins", sans-serif;
    background-color: #E5E5E5;

}

[class*="__container"] {
    margin: 0 auto;
    max-width: 816px;
    padding-right: 15px;
    padding-left: 15px;

}

[class*="__text"]{
    margin-bottom: 12px;
}

.first-tittle {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #212529;
    max-width: 400px;
    margin-bottom: 40px;
    padding-top: 15px;

}

.text-1__container{
    margin-bottom: 80px;
}

.first-text-block {

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #6C757D;
}

.first-image {
    display: block;
    margin: 0 auto 80px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.second-tittle {

    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    max-width: 605px;
    color: #212529;
    margin-bottom: 40px;
}

.second-text-block {

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 80px;
    color: #6C757D;

}

.second-block-image {
    text-align: center;
    font-size: 0;
    margin-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;

}

.second-img {
    display: inline-block;
    padding-right: 15px;
    max-width: 50%;
}

.third-image {
    display: inline-block;
    padding-left: 15px;
    max-width: 50%;
}


.third-text-block__container {

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #6C757D;
    margin-bottom: 60px;
}

.hw-img {
    display: block;
    margin: 30px auto;
    height: 150px;
    max-width: 100%;
    box-shadow: 0 5px 40px;
    padding-right: 15px;
    padding-left: 15px; 
}

.hw-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #6C757D;
    margin: 10px auto;
    padding: 0 15px 15px 15px;
}
