@import url(reset.css);


body{
    font-family: "Poppins" , sans-serif;
    background-color: #E5E5E5;
    
}

[class*="__container"]{
    margin: 0 auto;
    max-width: 816px;
    
}

.first-tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #212529;
    max-width: 400px;
    margin-bottom: 40px;
    padding-top: 15px;
    
}

.first-text-block{

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #6C757D;
    margin-bottom: 80px;
}

.first-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

}

.second-tittle{

    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    max-width: 605px;
    color: #212529;
    margin-bottom: 40px;
}

.second-text-block{

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 80px;
    color: #6C757D;

}

.second-block-image
{
    text-align: center;
    font-size: 0;
    margin-bottom: 80px;
    
}

.second-img{
    display: inline-block;
    padding-right: 30px;
}

.third-image{
    display: inline-block;
}


.third-text-block__container{

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #6C757D;
    margin-bottom: 60px;
}

.hw-img{
    display: block;
    margin: 30px auto;
    height: 150px;   
    box-shadow: 0 5px 40px;
}

.hw-text{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #6C757D;
    margin: 10px auto;
}
